body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;

}

header {
    background-color: #25262c;
    color: antiquewhite;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.contenido {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


.menu-toggle {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    background-color: none;
    border: none;
    display: none;
}

/* Menu de navegacion para pantallas de desktop */

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para la galeria en una cuadricula de tres columnas */

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}

.img-section {
    text-align: center;
}

.image {
    text-align: left;
    margin: 50px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.image img {
    max-width: 10rem;
    height: auto;
    margin: 15px;
    /*Mantener la proporcion de los aspectos de las imagenes*/
}

.image h3,
p,
button {
    margin: 15px;
}

button {
    background-color: #333;
    border-radius: 10%;
    color: #f4f4f4;
}

/* Section dle heroe */

.hero {
    background-color: #f4f4f4;
    text-align: left;
    padding: 40px 0;
    margin: 15px;
}

.hero h3 {
    color: #333;
    padding: 15px;
}

.hero a {
    text-decoration: none;
    color: rgb(32, 182, 182);
    padding: 15px;
}

.hero p {
    padding: 15px;
}

form {
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.formulario ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
}

.formulario {
    margin-bottom: 20px;
}

/* Contenido prinipal */

/* .content {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
} */

/* pie de pagina */

footer {
    background-color: #131418;
    color: antiquewhite;
    text-align: center;
    /* margin: 0 auto; */
    padding: 20px;
}

@media (max-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .contenido {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .img-section {
        text-align: center;
    }

    .image {
        text-align: center;
    }

    .image img {
        max-width: 25%;
        height: auto;
        /*Mantener la proporcion de los aspectos de las imagenes*/
    }
}

/* Media quearies para pantallas moviles */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    .hero h2 {
        font-size: 18px;
    }

    .content {
        font-size: 16px;
    }

    .content h2 {
        font-size: 20px;
    }

    .contenido {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .img-section {
        text-align: center;
    }

    .image {
        text-align: center;
    }

    .image img {
        max-width: 50%;
        height: auto;
        /*Mantener la proporcion de los aspectos de las imagenes*/
    }
}